* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: 'Montserrat', sans-serif, 
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Montserrat,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item {
  max-width: 392px;
  height: 296px;
  border-radius: 8px;
  background: #f6f6fe;
  padding: 16px;
  margin-bottom: 40px;
}

.item li {
  font-family: 'Montserrat', sans-serif;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  background: #f6f6fe;
  padding: 8px 16px;
  margin-bottom: 8px;
  border: 1px solid #808080;
}

.item h2 {
  color: #2E2F42;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
  list-style: none;
}

img {
  width: 360px;
  height: 300px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style: none;
  background: #FFF;
  padding: 100px 156px;
  width: 1440px;
}

.item {
  padding: 0;
  margin: 0;
}

#name-input {
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
}

#name-input::placeholder {
  font-family: Montserrat, sans-serif;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
}

h1, #name-output {
  font-family: Montserrat, sans-serif;
  color: #2e2f42;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  display: flex;
  flex-direction: column;
  color: #2e2f42;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  gap: 8px;
  margin-bottom: 8px;
}

.login-form label input {
  max-width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.login-form label input:hover {
  border: 1px solid #000;
}

button {
  margin-top: 8px;
  width: 86px;
  height: 40px;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

button:hover {
  background-color: #6c8cff;
}

.widget {
  display: block;
  width: 345px;
  height: 280px;
  padding: 100px 88px;
  margin: auto;
}

.widget p {
  font-family: Montserrat, sans-serif;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 100%;
}

.color {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
 }

.change-color {
  width: 100%;
} 

#controls{
  display: flex;
  align-items: center;
  gap: 16px;
  width: 486px;
  height: 104px;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

#controls input {
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #808080;
}

#controls [data-create] {
  width: 120px;
}

#controls [data-destroy] {
  background-color: #ff4e4e;
  color: #fff;
  width: 120px;
}

#controls [data-destroy]:hover {
  background-color: #ff7070;
}